.wp-block-capitaine-link-container {
  border: 2px dotted #fe2c70;
  padding: 5px;
  border-radius: 5px;
}

.wp-block-capitaine-link-container * {
  text-decoration: none !important;
  color: inherit !important;
}
